<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @source.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @source.url %>
</p>

<p>
  <strong>Citation body:</strong>
  <%= @source.citation_body %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
