<%= form_for setup_person(@person), :html => { :multipart => true} do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.collection_select :gender, [' '] + Person.all_genders, :to_str, :to_str %>
  </div>
  <%= f.fields_for :birth do |ff| %>
    <div>
      <%= ff.label :date, "Birth Date" %>
      <%= ff.date_field :date %>
    </div>
    <div>
      <%= ff.label :father_id, "Father ID" %>
      <%= ff.text_field :father_id %>
    </div>
    <div>
      <%= ff.label :mother_id, "Mother ID" %>
      <%= ff.text_field :mother_id %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= button_tag 'Submit', :class => 'btn' %>
  </div>
<% end %>
