<h1>Person Index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Portrait</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to "#{person.first_name} #{person.last_name}", person%></td>
        <td><%= person.gender %></td>
        <td><%= link_to image_tag(person.photo.url(:small)), person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
