<% provide(:title, "Person Index") %>
<h1>Person Index</h1>

<%= paginate @people %>

<%= form_tag people_path, :method => :get, :id => 'gender_form' do %>
  <%= hidden_field_tag "first_name_sort", true if @first_name_header %>
  <%= hidden_field_tag "last_name_sort", true if @last_name_header %>
  <br><br>
  <%= text_field_tag :query, params[:query] %><br>
  <%= button_tag 'Search', :id => 'genders_submit', :class => 'btn' %>
<% end %>

<% if @people.empty?  then %>
  <h4>No results matched your search</h4>
<%else %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class=<%= @first_name_header %>><%= link_to 'First Name', request.parameters.merge({:sort => 'first_name'}), :id => 'first_name_header' %></th>
        <th class=<%= @last_name_header %>><%= link_to 'Last Name', request.parameters.merge({:sort => 'last_name'}), :id => 'last_name_header' %></th>
        <th>Gender</th>
        <th>Photo</th>
        <th>Birth Date</th>
        <th>Birth Place</th>
        <th>Death Date</th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.first_name, person%></td>
          <td><%= link_to person.last_name, person%></td>
          <td><%= person.gender %></td>
          <td><%= link_to image_tag(person.photo.url(:small)), person %></td>
          <td>
            <% if !person.birth.date.nil? %>
              <%= person.birth.date.formatted %>
            <%end%>
          </td>
          <td><%= person.birth.place.place_string %></td>
          <td>
            <% if !person.death.date.nil? %>
              <%= person.death.date.formatted %>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
<br>

<%= link_to new_person_path, :class => 'btn btn-primary' do %>Add Person <i class="icon-plus icon-white"></i><%end%>
