<p id="notice"><%= notice %></p>

<div class="row">
	<%= image_tag @person.photo.url(:small), id: 'photo', class: 'span3' %>
	<div class="span9">
		<h3 id='full_name'> <%= @person.full_name %> </h3>

		<p>
		  <strong>Gender:</strong>
		  <%= @person.gender %>
		</p>
		<p>Birth date: <%= @person.birth.date %> (Age: <%= @person.age %>)</p>


		<%= link_to 'Edit', edit_person_path(@person) %> |
		<%= link_to 'Back', people_path %>
	</div>
</div>

<div id="facts-box">
	<% if @eventsFormat == 'data-list' %>
		<dl class="dl-horizontal">
			<dt>Event Name</dt>
			<dd>Event details</dd>
		</dl>
	<% elsif @eventsFormat == 'timeline' %>
		<table>
			<tr>
				<td class="span3">Event Name</td>
				<td class="span1"><i class='icon-glass'></i></td>
				<td class="span8">Event Details</td>
			</tr>
		</table>
	<% end %>
</div>
<% if @person.mother %>
  <p>Mother: <%= link_to "#{@person.mother.first_name} #{@person.mother.last_name}", @person.mother%></p>
<% else %>
  <p>Mother: <%= link_to new_person_path, :class => 'btn btn-primary' do %>Add Mother <i class="icon-plus icon-white"></i><%end%></p>
<% end %>
<% if @person.father %>
  <p>Father: <%= link_to "#{@person.father.first_name} #{@person.father.last_name}", @person.father%></p>
<% else %>
  <p>Father: <%= link_to new_person_path, :class => 'btn btn-primary' do %>Add Father <i class="icon-plus icon-white"></i><%end%></p>
<% end %>
