<p id="notice"><%= notice %></p>

<div class="row">
	<%= image_tag @person.photo.url(:small), class: 'span3' %>
	<div class="span9">
		<h3> <%= @person.first_name %> <%=@person.last_name%> </h3>

		<p>
		  <strong>Gender:</strong>
		  <%= @person.gender %>
		</p>
		<p>Birth date: <%= @person.birth.date %> </p>


		<%= link_to 'Edit', edit_person_path(@person) %> |
		<%= link_to 'Back', people_path %>
	</div>
</div>

<div id="facts-box">
	<% if @eventsFormat == 'data-list' %>
		<dl class="dl-horizontal">
			<dt>Event Name</dt>
			<dd>Event details</dd>
		</dl>
	<% elsif @eventsFormat == 'timeline' %>
		<table>
			<tr>
				<td class="span3">Event Name</td>
				<td class="span1"><i class='icon-glass'></i></td>
				<td class="span8">Event Details</td>
			</tr>
		</table>
	<% end %>
</div>