<% provide(:title, @person.full_name) %>
<!DOCTYPE html>
<meta charset="utf-8">

<div class="row">
  <%= image_tag @person.photo.url(:medium), id: 'photo', class: 'span3' %>
  <div class="span9">
    <h3 id='full_name'> <%= @person.full_name %> (<%= @person.gender %>)</h3>


    <p>Birth date:
      <% if @person.birth.date != nil%>
        <%= @person.birth.date.formatted %>
      <% end %>
    </p>
    <% if !@person.death.date.nil? %>
      <p>Death date: <%= @person.death.date.formatted %><%= " (age: " + @person.age.to_s + ")"%></p>
    <% end %>
    <% if @spouse%>
      <p>Spouse: <%= link_to @spouse.full_name, @spouse %></p>
    <% end %>

    <%= link_to edit_person_path(@person), :class => 'btn btn-primary' do %>
      <i class="icon-pencil icon-white"></i> Edit
    <% end %>
    <%= link_to @person, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' do %>
      <i class="icon-trash icon-white"></i> Delete
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#timeline-tab" data-toggle="tab">Timeline</a></li>
  <li><a href="#details-tab" data-toggle="tab">Details</a></li>
  <li><a href="#family-tab" data-toggle="tab">Family</a></li>
  <li><a href="#tree-tab" data-toggle="tab">Tree</a></li>
  <li><a href="#map-tab" data-toggle="tab" id="map-tab-link">Map</a></li>
</ul>

<div id="tabs" class="tab-content">
  <div id="timeline-tab" class="tab-pane active">
    <%= render partial: "people/tabs/timeline" %>
  </div>

  <div id="details-tab" class="tab-pane">
    <%= render partial: "people/tabs/details" %>
  </div>

  <div id="family-tab" class="tab-pane">
    <%= render partial: "people/tabs/family" %>
  </div>

  <div id="tree-tab" class="tab-pane">
    <%= render partial: "people/tabs/tree" %>
  </div>

  <div id="map-tab" class="tab-pane">
    <%= render partial: "people/tabs/map" %>
  </div>
</div>
<br><br><br>
<%= link_to people_path, :class => 'btn btn-info' do %>
  <i class="icon-arrow-left icon-white"></i> Back to Person Index
<% end %>
