<% provide(:title, @person.full_name) %>
<!DOCTYPE html>
<meta charset="utf-8">
<p id="notice"><%= notice %></p>

<div class="row">
	<%= image_tag @person.photo.url(:medium), id: 'photo', class: 'span3' %>
	<div class="span9">
		<h3 id='full_name'> <%= @person.full_name %> (<%= @person.gender %>)</h3> 

                                                                  
		<p>Birth date: 
      <% if @person.birth.date != nil%>
        <%= @person.birth.date.formatted %>
      <% end %>
    </p>
    <% if !@person.alive? %>
      <p>Death date: <%= @person.death.date.formatted %><%= " (age: " + @person.age.to_s + ")"%></p>
    <% end %>
    <% if @spouse%>
      <p>Spouse: <%= link_to @spouse.full_name, @spouse %></p>
    <% end %>

		<%= link_to edit_person_path(@person), :class => 'btn btn-primary' do %>
      <i class="icon-edit icon-white"></i> Edit
    <% end %>
	</div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#events-tab" data-toggle="tab">Events</a></li>
  <li><a href="#family-tab" data-toggle="tab">Family</a></li>
  <li><a href="#tree-tab" data-toggle="tab">Tree</a></li>
  <li><a href="#map-tab" data-toggle="tab" id="map-tab-link">Map</a></li>
</ul>

<div id="tabs" class="tab-content">
  <div id="events-tab" class="tab-pane active"> <!--id="facts-box" -->
    <% if @eventsFormat == 'data-list' %>
      <dl class="dl-horizontal">
      <% @person.events.each do |event| %>
        <dt><%= event.title_string %></dt>
        <dd><%= event.details.join('<br />').html_safe  %></dd>
      <% end %>
      </dl>
    <% elsif @eventsFormat == 'timeline' %>
      <table>
        <tr>
          <th>Date & Place</th>
          <th></th>
          <th>Details</th>
        </tr>
      <% @person.events.each do |event| %>
        <tr>
          <td class="span4">
            <%= event.date_string %>
            <br />
            <%= event.place.place_string %>
          </td>
          <td class="span1">
            <i class='<%= event.icon_class %>'></i>
          </td>
          <td class="span6"><%= event.short_description %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
  </div>

  <div id="family-tab" class="tab-pane">
    <dl class="dl-horizontal">
      <dt>Mother</dt>
      <dd>
        <% if @person.mother %>
          <p><%= link_to @person.mother.full_name, @person.mother%></p>
        <% else %>
          <p><%= link_to edit_person_path(@person), :class => 'btn btn-primary' do %><i class="icon-plus icon-white"></i> Add Mother<%end%></p>
        <% end %>
      </dd>
      <dt>Father</dt>
      <dd>
        <% if @person.father %>
          <p><%= link_to @person.father.full_name, @person.father%></p>
        <% else %>
          <p><%= link_to edit_person_path(@person), :class => 'btn btn-primary' do %><i class="icon-plus icon-white"></i> Add Father<%end%></p>
        <% end %>
      </dd>
      <% @children.each do |child| %>
        <dt>Child</dt>
        <dd>
        <%= link_to child.full_name, child %><br>
        </dd>
      <% end %>
    </dl>
  </div>

  <div id="tree-tab" class="tab-pane">
    <h4> Pedigree Tree </h4>
    <div id="tree-container"></div>
    <script src="http://d3js.org/d3.v2.min.js?2.9.4"></script>
    <script>
    
    var margin = {top: 0, right: 320, bottom: 0, left: 0},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
    
    var tree = d3.layout.tree()
        .separation(function(a, b) { return a.parent === b.parent ? 1 : .5; })
        .children(function(d) { return d.parents; })
        .size([height, width]);
    
    var svg = d3.select("#tree-container").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
      var json = '<%= @json_pedigree_tree.to_json.to_s.html_safe %>';
      json = JSON.parse(json);
      var nodes = tree.nodes(json);
    
      var link = svg.selectAll(".link")
          .data(tree.links(nodes))
        .enter().append("path")
          .attr("class", "link")
          .attr("d", elbow);
    
      var node = svg.selectAll(".node")
          .data(nodes)
        .enter().append("g")
          .attr("class", "node")
          .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })
    
      node.append("text")
          .attr("class", "name")
          .attr("x", 8)
          .attr("y", -6)
          .text(function(d) { return d.name; });
    
      node.append("text")
          .attr("x", 8)
          .attr("y", 8)
          .attr("dy", ".71em")
          .attr("class", "about lifespan")
          .text(function(d) { return d.born + "–" + d.died; });
    
      node.append("text")
          .attr("x", 8)
          .attr("y", 8)
          .attr("dy", "1.86em")
          .attr("class", "about location")
          .text(function(d) { return d.location; });
    
    function elbow(d, i) {
      return "M" + d.source.y + "," + d.source.x
           + "H" + d.target.y + "V" + d.target.x
           + (d.target.children ? "" : "h" + margin.right);
    }
    
    </script>

  </div>

  <div id="map-tab" class="tab-pane">
    <style>
    #map {
      height: 500px;
    }
    </style>
    <script>
      $("body").on('shown','#map-tab-link', function() { 
        map.invalidateSize(false);
      });
    </script>
  
    <%= 
      map(:center => {
          :latlng => [@person.birth.place.lat, @person.birth.place.lon],
          :zoom => 3
      },
      :markers => [
        {
          :latlng => [@person.birth.place.lat, @person.birth.place.lon], 
          :popup => "Birth" + '</br>' + 
                    @person.birth.place.full_address + '<br/>'

        },
        {
          :latlng => [@person.death.place.lat, @person.death.place.lon], 
          :popup => "Death" + '</br>' + 
                    @person.death.place.full_address + '<br/>'
        }
      ]) 
    %>
    
  </div>
</div>
<br><br><br>    
<%= link_to people_path, :class => 'btn btn-info' do %>
  <i class="icon-arrow-left icon-white"></i> Back to Person Index
<% end %>
