<p id="notice"><%= notice %></p>

<h3> <%= @person.first_name %> <%=@person.last_name%> </h3>

<%= image_tag @person.photo.url(:small) %>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
