<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @life_event.date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @life_event.end_date %>
</p>

<%= link_to 'Edit', edit_life_event_path(@life_event) %> |
<%= link_to 'Back', life_events_path %>
