<dl class="dl-horizontal">
  <% @person.parents.each do |parent| %>
    <dt><%= parent_title(parent.gender) %></dt>
    <dd><%= link_to parent.full_name, parent%></dd>
  <% end %>
  <dt></dt>
  <% if @person.parents.length < 2 %>
    <dd><%= link_to new_person_path, class: 'btn btn-primary' do %>
        <i class="icon-plus icon-white"></i><span>Add Parent</span>
    <%end%></dd>
  <% end %>

  <% if @children.present? %>
    <% @children.each do |child| %>
      <dt>Child</dt>
      <dd>
      <%= link_to child.full_name, child %><br>
      </dd>
    <% end %>
  <% end %>
  <br>
  <% if @primary_siblings.present? %>
    <% @primary_siblings.each do |sibling| %>
      <dt>Sibling</dt>
      <dd>
      <%= link_to sibling.full_name, sibling %><br>
      </dd>
    <% end %>
  <% end %>
  <br>
  <% if @half_siblings.present? %>
    <% @half_siblings.each do |half_sibling| %>
      <dt>Half Sibling</dt>
      <dd>
      <%= link_to half_sibling.full_name, half_sibling %><br>
      </dd>
    <% end %>
  <% end %>
</dl>
