<h1>Listing places</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Country</th>
      <th>State</th>
      <th>County</th>
      <th>Postal code</th>
      <th>City</th>
      <th>Street address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.country %></td>
        <td><%= place.state %></td>
        <td><%= place.county %></td>
        <td><%= place.postal_code %></td>
        <td><%= place.city %></td>
        <td><%= place.street_address %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
