<p>
  <strong>Country:</strong>
  <%= @place.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @place.state %>
</p>

<p>
  <strong>County:</strong>
  <%= @place.county %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @place.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @place.street_address %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
